@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #4a4a44;
  padding: 30px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input.search {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent
    url("/assets/search-icon.svg") no-repeat 13px;
}

.subtitle {
  width: 55%;
  border-left: 5px solid salmon;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  color: #393a4e;
  line-height: 70px;
}

.subtitle > h2 {
  margin-left: 15px;
}

.content-container {
  display: flex;
  gap: 1rem;
}

.aside-menu {
  width: 100%;
  height: fit-content;
  padding: 0 10px;
  background-color: #fff3f3;
  letter-spacing: 0.75px;
}

.aside-menu h4 {
  margin: 0;
  padding-top: 15px;
  font-weight: 900;
}

.aside-menu .item {
  display: flex;
  align-items: center;
  line-height: 8px;
}

.aside-menu .item p {
  padding-left: 10px;
  font-weight: 900;
}

.aside-menu .item label {
  padding-left: 10px;
}

.aside-menu .topics-side > p,
.teachers-side > p {
  color: red;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 0px;
}


.card-container {
  position: relative;
  color: #fff;
  margin-right: 20px;
}

.card-container p {
  margin: 0;
}

.card-container .category-card {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 23px;
  top: 10px;
  right: 10px;
  border: 1px solid white;
  background-color: white;
  opacity: 40%;
  height: 25px;
  width: 65px;
}

.card-container .category-card-second {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 23px;
  top: 10px;
  right: 85px;
  border: 1px solid white;
  background-color: white;
  opacity: 40%;
  height: 25px;
  width: 65px;
}

.card-container .category-card > p, .category-card-second > p {
  font-size: 10px;
  font-weight: 700;
  color: red !important;
}

.card-container .author-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
  left: 10px;
  margin: 0;
}

.card-container .author-container > p {
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.author-container .author {
  display: flex;
  gap: 0.7rem;
}

.container .load-more {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: large;
  color: red;
  cursor: pointer;
}

.container .load-more:hover {
  color: rgb(243, 128, 128);
}
/* all input styling */
input[type="checkbox"] {
  outline: none;
  accent-color: red;
  transform: scale(1.5);
}
